<div class="banner_outfits container-fluid p-5">
  <h1>All the outfits in your closet !</h1>
    <div class="row pt-5 pb-2"></div>
      <% if user_signed_in? %>
      <div class="col-sm">
        <button class="btn-primary"><%= link_to 'Add New Outfit', new_outfit_path %></button>
        <button class="btn-primary"><%= link_to "See my bookings", bookings_path %></button>
      </div>
        <% else %>
          <button class="btn-primary">
            <%= link_to "Book my outfit", new_user_session_path, class: "nav-link" %>
          </button>
        <% end %>
          <div class="row pt-2 pb-5"></div>
            <div class="col">
              <p>All <%= Outfit.count %> outfits.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-3 pt-5 pb-5">
  <div class="row">
    <% @outfits.each do |outfit| %>
      <div class="col-lg-3 col-md-6 col-sm-1 mt-3">
        <div class="outfit-card">
          <div class="outfit-card-image" style="background-image: url('<%= outfit.picture_url %>')"></div>
          <div class="outfit-card-content">
            <h4 class="outfit-card-title">
              <%= outfit.title %></h4>
                <div class="outfit-card-details">
                  <p class="outfit-card-price">RS <%= outfit.price %> / day</p>
                    <div class="outfi-card-actions">
                      <% if user_signed_in? %>
                        <li class="nav-item active">
                          <%= link_to 'More info', outfit_path(outfit) %>
                        </li>
                      <% else %>
                        <li class="nav-item">
                          <%= link_to "More info", new_user_session_path, class: "nav-link" %>
                        </li>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pb-5"></div>

