<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All the outfits in your closet !</h1>
    </div>
  </div>

<div class="btn-primary">
  <%= link_to 'Add New Outfit', new_outfit_path %>
</div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @outfits.count %> outfits out of our <%= Outfit.count %> on our website.</p>
      <% else %>
        <p>All <%= Outfit.count %> outfits.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @outfits.each do |outfit| %>
      <div class="col-4">
        <div class="outfit-card">
          <div class="outfit-card-image" style="background-image: url('<%= outfit.picture_url %>')"></div>
          <div class="outfit-card-content">
            <div class="outfit-card-title">
              <h4><%= outfit.category %></h4>
            </div>
            <p><%= outfit.category %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= outfit.description %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">RS</i> <%= outfit.price %>
              </div>
            </div>
          </div>
          <div class="outfi-card-actions">
            <%= link_to 'More info', outfit_path(outfit) %>
            <%= link_to 'Edit', edit_outfit_path(outfit), class: 'ml-3 text-warning' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
