<h1>Appointments <%= link_to "+ New", outfits_path %></h1>


  
<% @bookings.each do |booking| %>
<p>Title: <%= booking.outfit.title %></p>

<div class= outfit-picture </div> 
  <img class="outfit-picture" src='<%= booking.outfit.picture_url %>'>
</div>
<p>Start date: <%= booking.booking_date %></p>
<p>End date: <%= booking.end_date %></p>
<% end %>